# 데이터 자료구조 1 - list 

- 문자열, 정수, 실수, 논리형 -> (변수1 : 값1)
- 변수 : 여러값 그룹화
   - 공통분모를 가지고 있는 값들의 모임 -> 특성분류 가능
   - 컴퓨터 메모리 공강 효율적 사용 가능
   - 대부분의 크롤링 결과값 -> 리스트 형태의 자료구조 값이 결정

- 변수명 = [값, 값, 값] *대괄호 사용

- 리스트 & 문자열 : 유사성 띔. 비슷한 문법 구조
  - 공통속성 지님 /  _iter_ : iterable : 반복할 수 있는 / index
    
- 값을 추가하는 방법 
  - append() : 리스트 마지막(뒤)에 값을 추가 
  - extend() : 여러개의 값을 한번에 넣고자 할때 (맨 끝에 추가)
  - insert(index/위치, 넣고자 하는 값) -> 원하는 위치에 원하는 값 추가
  - 리스트 + 리스트 연산 = 제 3의 새로운 리스트 생성 
    수식: location = ["서울", "경기"] location += ["인천", "부산"] # 결과: ['서울', '경기', '인천', '부산']

 

- 값을 제거하는 방법
  - pop() : pop(인덱스/위치)-> 인덱스 값 지움  리스트 뒤에서부터 값을 제거 
  - remove() : 리스트에서 특정값을 직접 선택하여 지움
  - 다수의 값 삭제 : del 리스트명[인덱스] : 해당 인덱스 값 제거/ slicing과 동일 
    

- slicing 기능 문자열과 동일 
- 리스트 자료구조 안에 입력될 값의 타입이 상이해도 가능

- 리스트 값 정렬 (오름차순/ 내림차순)
  - sort : 오름차순 정렬 (원본 데이터 변경)
  - reverse : 내림차순 정렬 (원본 데이터 변경)

- split() : 쪼개다/ 문자열을 리스트로 변경해주는 기능 (원본 편집/변경 x )

In [14]:
location = ["서울", "경기", "인천"]

# print(type(location))
# print(location)
print(location[0])
print(location[1])
print(location[2])
print(location[-1])

서울
경기
인천
인천

In [12]:
text = "apple"

# print(type(text))
# print(dir(location))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
서울

In [12]:
location = ["서울", "경기", "인천"]
location.append("부산")
location.extend("인천")
location.extend(["인천"])
print(location);

['서울', '경기', '인천', '부산', '인', '천', '인천']

In [14]:
# 값을 추가하는 방법 
a = [3, 4, 5]
b = [1, 2]

result = b + a
result.insert(0, 0)
result.insert(len(result), 0) # 맨 마지막에 넣고 싶을때  
print(result)

[0, 1, 2, 3, 4, 5, 0]

In [18]:
# 여러개 값 추가 

a = [1, 2, 3]

a.append([4, 5]) # [4,5] 하나의 값으로 추가됨 
print(a[3])

a.extend([4, 5])
print(a)
print(a[5])

[4, 5]
[1, 2, 3, [4, 5], 4, 5]
5

In [22]:
location.pop(4)

'천'

In [26]:
location.insert(0, "서울")

In [27]:
location

['서울', '서울', '서울', '경기', '인천', '부산', '인', '인천']

In [28]:
location[1:3]

['서울', '서울']

In [31]:
del location[0:2]
location

['인', '인천']

In [58]:
var = [1, 2, 3]
# 리스트를 선언함과 동시에 값을 할당 

var01 = list() 
# 리스트 안에 있는 값을 추가/삭제 할 수 있는 개별 함수가 존재
# 리스트 형태의 변수를 우선 선언 후 향후 추가/삭제 가능 

var02 = [1, 2, "hellp", True, [3,4]]
print(var02)
                            

print(type(var))
print(type(var01))

[1, 2, 'hellp', True, [3, 4]]
<class 'list'>
<class 'list'>

In [32]:
numbers = [2, 1, 4, 3]
print(type(numbers))
print(numbers)

<class 'list'>
[2, 1, 4, 3]

In [33]:
numbers.sort()
print(numbers)

[1, 2, 3, 4]

In [34]:
numbers.reverse()
print(numbers)

[4, 3, 2, 1]

In [40]:
words = "python is easy"
results = words.split()
# print(results)
for item in results : 
    print(item)

# for i, item in enumerate(results) : 
#     print(i, item)

python
is
easy