# 파이썬 함수 (funcion = 기능)

- 함수 : 어떤 입력값을 받아서 내부에서 연산처리 후 해당 결과값을 외부로 출력할 수 있도록 하는 것
- input & output : 함수에 값 입력 & 출력
- 함수 생성 = 함수를  선언한다  -> 함수 존재 -> 값 입력( 값 = 인자값 / 인수 = 매개변수) 
- 함수 사용 = 함수를 호출한다
- 
- 반복적인 실행코드를 자동화하고 싶을 때
- *함수의 선언부 & 호출부의 "인자값/인수=매개변수"의 갯수는 같아야함
   (한쪽이 상대적으로 갯수가 많거나 적으면 실행 x)
  
- return : 함수 내부연산 처리 후 특정 값을 함수 바깥으로 값을 보낼 수 있는 기능 


수식 

영문자() : => 해당 형식 모두 함수 
def fun(매개변수) :
    함수 연산 공간

In [3]:
# 함수 선언
def func1() :
    print("Hello")

# 함수 호출 
func1()

# 파이썬 자료구조 

- 문자열 = " "
- 정수 = 10
- 실수 = 3.14
- 논리형 = Ture
> 단일값 저장 자료형태  1:1
- -----------------------

> 다중값 저장 자료형태

- 리스트 = [] 원하는 값 추가, 삭제 가능 
- tuple = () 리스트와 거의 같으나 값 변경 (추가/삭제) 불가
          ㄴ>절대 값이 변경되면 안되는 경우 사용 / 고정값 유지
> iter 변환 가능하여 반복문과 호환 좋음
> 담겨있는 값들이 구체적으로 어떤 값을 의미하는지 알수 없음
> 내부 값에 고유한 인덱스(위치값)를 가지고 있음 
  
- 딕셔너리 = { : }  사전
  수식 {key : value} -> property 속성   ex) {"apple" :"사과"}
> 값을 찾을때 인덱스/위치로 찾을 수 없고 key값을 입력하면 value를 반환함


- 집합
> 반복되어지는 값 허용 x / 중복값 1회 처리 
> 크롤링 값 찾아올때, 반복적으로 입력된 값이 들어오는 경우 => 1회 처리 
> & = 교집합/  | = 합집합 / - = 차집합/  ^ = 여집합

1. 리스트 : 변수명 =  [값]
> 변수명 = list()

2. 튜플 : 변수명 = (값)
> 변수명 = tuple()

3. 딕셔너리 : 뱐수명 = { : }
> 변수명 = dict()

4. 집합 : 변수명 = {값}
> 변수명 = set()

In [100]:
data_set = {"apple", "dell", "samsung", "lg"}
print(type(data_set))

<class 'set'>

In [103]:
data_set1 = set("apple")
data_set1  # => 중복값 허용 x 하기 때문에 p 1개만 반환 

data_set2 = set({"apple"})
data_set2

{'apple'}

In [ ]:
data_set = {"apple", "dell", "samsung", "lg"}

In [104]:
"motororla" in data_set  # 값 + in 전치사 사용하며 해당값이 있냐 없냐 => true / false

False

In [106]:
if "apple" in data_set :
    print(data_set)

{'sam', 'dell', 'apple', 'lg'}

In [105]:
data1 = {"apple", "samsung", "lg"}
data2 = {"samsung", "xaidmi", "lg"}

In [110]:
# 교집합 
data1 & data2

{'lg', 'samsung'}

In [111]:
# 합집합 
data1 | data2

{'apple', 'lg', 'samsung', 'xaidmi'}

In [112]:
# 차집합 
data1 - data2

{'apple'}

In [113]:
# 교집합을 제외한 나무지 부분집합 
data1 ^ data2

{'apple', 'xaidmi'}

In [119]:
data_list = ["apple", "apple", "lg", "sum", "lg",]

In [118]:
# 명시적 형변환 : 의도적으로 변환 / 자동 형변환 
set(data_list)

{'apple', 'lg', 'sum', 'xio'}

In [9]:
# 반복 코드 자동화 
def func0() :
    print("Hello")
    print("Hello")
    print("Hello")
    print("Hello")
    print("Hello")

func0()

Hello
Hello
Hello
Hello
Hello

In [10]:
def func2(parameter) : # 함수의 선언부 & 호출부의 "인자값/인수=매개변수"의 갯수는 같아야함 
    print ("Hello!", parameter)

func2("World!")

Hello! World!

In [11]:
def func3(data1, data2) :
    print(data1 + data2)

func3(1, 2)

3

In [14]:
def func4(data1, data2) :
    return data1 + data2

result = func4(1, 2)
result

3

In [16]:
# loxal variable : 지역변수 
def avg_sum(a,b) : 
    c = 1  # c = 지역변수
    result = a + b
    return result 

#global variable : 전역변수
a =1 

print(a)

1

In [25]:
def func_wo_return(a) : 
    print("This is function withcout return" + str(a) + " time")
    print(f"This is function withcout return {str(a)} time")

func_wo_return(2)

This is function withcout return2 time
This is function withcout return 2 time

In [29]:
def mul_return(a) : 
    b = a +1
    return a, b

result = mul_return(1)
print(type(result))

<class 'tuple'>

In [99]:
#tuple

tuple = (1, 2, 3, 4)
list1 = [1, 2, 3, 4]

print(tuple, list1)
print(dir(tuple))
print(tuple[0])

(1, 2, 3, 4) [1, 2, 3, 4]
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
1

In [34]:
튜플은 값 삭제, 추기 불가 함 
del tuple[0]   # -> 삭제 불가
tuple[1] = "c" # -> 값 추가, 삭제, 재할당 불가

TypeError: 'tuple' object does not support item assignment

In [45]:
tuple1 = (1, 2, 3, 4)
tuple2 = (5, 6)

print(tuple1 + tuple2) # ->연산 가능 
print(tuple1 * 3) # ->연산 가능 

for item in tuple2 :
    print(item *3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
15
18

In [48]:
tuple1 = (1,2)

print(tuple1 + tuple2) # ->연산 가능 
print(tuple1 * 3) # ->연산 가능 

for item in tuple2 :
    print(item *3)

(1, 2, 1, 2, 1, 2)

In [55]:
def test_func1(a, b) :
    quot = a // b  # // = 몫
    rem = a % b  
    return(quot , rem)

result = test_func1(10, 3)


# 구조분해 할당 식 => 뒤에 있는 값을 갚에 넣어줌
(f, s) = result # 등호 기준으로 위치 바뀌면 안됨
print(f, s)

3 1

In [69]:
data_dixt = {"한국":"KR", "일본":"Jp", "중국":"CN"}
# print(type(data_dixt))
# print(dir(data_dixt))

print(data_dixt["한국"], data_dixt["일본"])

KR Jp

In [67]:
data_dixt["미국"] = "US"
data_dixt

{'한국': 'KR', '일본': 'Jp', '중국': 'CN', '미국': 'US'}

In [91]:
for item in data_dixt :
    print(item)

한국
일본
중국

In [97]:
for item in data_dixt :
    print(data_dixt[item])

KR
Jp
CN

In [96]:
for item in data_dixt :
    print(item, data_dixt[item])

한국 KR
일본 Jp
중국 CN

In [95]:
for item in data_dixt : 
    print(f"{item} = {data_dixt[item]}")

한국 = KR
일본 = Jp
중국 = CN

In [80]:
dir(data_dixt)  # dir =  해당 자료구조가 사용할 수 있는 속성 or 메서드 함수 목록

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [85]:
# 반복문 사용하지 않고 키나 값을 찾아내는 방법 
data_dixt.keys()
data_dixt.values()
data_dixt.items()

dict_items([('한국', 'KR'), ('일본', 'Jp'), ('중국', 'CN')])

In [90]:
for itemms in data_dixt.items() :
    print(itemms)

for values in data_dixt.values() :
    print(values)

('한국', 'KR')
('일본', 'Jp')
('중국', 'CN')
KR
Jp
CN